body {
    background-image:url('https://media.tenor.com/KEzW7ALwfUAAAAAC/cat-what.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;

background-repeat: no-repeat;
    
 
    height:100%;
    width:100%;
}

